{% extends "index.html" %}

{% block content %}
<img src="{{ url_for('static', filename='images/home1.png') }}" class="img-fluid">
<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{ url_for('static', filename='images/slide1.png') }}" class="img-fluid">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="{{ url_for('static', filename='images/ft1.jpeg') }}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{{ url_for('static', filename='images/ft2.jpeg') }}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{{ url_for('static', filename='images/ft3.jpeg') }}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{{ url_for('static', filename='images/ft4.jpeg') }}" class="img-thumbnail">
        </div>
    </div>
</div>

{% endblock %}