{% extends "index.html" %}

{% block content %}
<div class="container-fluid c-bg-prim" style="height: 100px;">
    <div class="row">
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-11">
            <h1 class="font-weight-bold"> Rental Guide </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-11">
            <h5 class="font-weight-bold"> Beginners guide to renting in Victoria </h5>
        </div>
    </div>
  </div>
<div class="container-fluid bg-img-3" style="height: 250px;box-shadow: 0px 0px 20px 12px #EAE8DC inset;">
    
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;">
    <div class="row">
        <div class="col-2">
            <h1> </h1>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bold"> 1. Have your identification ready </h1> 
            <h5 class="c-text-prim">This can be your license, passport, birth certificate, Medicare card, or your Visa letter if you are from any other country. 
            </h5>
        </div>
        <div class="col-6">
            <img style="border-radius: 5%;height: 300px;" src="{{ url_for('static', filename='images/g1.jpg') }}" alt="" >
        </div>
    </div>
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;">
    <div class="row">
        <div class="col-2">
            <h1> </h1>
        </div>
        <div class="col-3">
            <img style="border-radius: 5%;height: 300px;" src="{{ url_for('static', filename='images/g2.jpg') }}" alt="" >
        </div>
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bold"> 2. Have your references ready </h1> 
            <h5 class="c-text-prim">This could be from your employer. Your previous house owner or someone whom you trust and who can refer you 
            </h5>
        </div>
        <div class="col-2">
            <h1> </h1>
        </div>
    </div>
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;">
    <div class="row">
        <div class="col-2">
            <h1> </h1>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bold"> 3. Have your rental history of two years and give the contact of your previous house owners or landlords</h1> 
            <h5 class="c-text-prim"> 
            </h5>
        </div>
        <div class="col-6">
            <img style="border-radius: 5%;height: 300px;" src="{{ url_for('static', filename='images/g3.jpg') }}" alt="" >
        </div>
    </div>
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;">
    <div class="row">
        <div class="col-2">
            <h1> </h1>
        </div>
        <div class="col-3">
            <img style="border-radius: 5%;height: 300px;" src="{{ url_for('static', filename='images/g4.jpg') }}" alt="" >
        </div>
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bold"> 4. Have your proof of income, your employment letter or your payslips of the past six months </h1> 
            <h5 class="c-text-prim">
            </h5>
        </div>
        <div class="col-2">
            <h1> </h1>
        </div>
    </div>
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;">
    <div class="row">
        <div class="col-2">
            <h1> </h1>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bold"> 5. Have your employment details and history </h1> 
            <h5 class="c-text-prim"> 
            </h5>
        </div>
        <div class="col-6">
            <img style="border-radius: 5%;height: 300px;" src="{{ url_for('static', filename='images/g5.jpg') }}" alt="" >
        </div>
    </div>
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;">
    <div class="row">
        <div class="col-2">
            <h1> </h1>
        </div>
        <div class="col-3">
            <img style="border-radius: 5%;height: 300px;" src="{{ url_for('static', filename='images/g6.jpg') }}" alt="" >
        </div>
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bold"> 6. Have the copy of your bank statements </h1> 
            <h5 class="c-text-prim">
            </h5>
        </div>
        <div class="col-2">
            <h1> </h1>
        </div>
    </div>
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;">
    <div class="row">
        <div class="col-2">
            <h1> </h1>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bold"> 7. Have your recommendation letter from charities </h1> 
            <h5 class="c-text-prim"> 
            </h5>
        </div>
        <div class="col-6">
            <img style="border-radius: 5%;height: 300px;" src="{{ url_for('static', filename='images/g7.jpg') }}" alt="" >
        </div>
    </div>
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;padding-bottom: 100px">
    <div class="row">
        <div class="col-12">
            <div class="container-fluid mt-5 mb-5">    
                <div class="row">
                    <div class="col-sm-2 d-flex align-items-stretch">
                        
                    </div>
                    <div class="col-sm-2 d-flex align-items-stretch">
                        <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='images/g1.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">1</h5>
                            <p class="card-text">Have your identification ready. This can be your license, passport, birth certificate, Medicare card, or your Visa letter if you are from any other country</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-2 d-flex align-items-stretch">
                        <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='images/g2.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">2</h5>
                            <p class="card-text">Have your references ready. This could be from your employer. Your previous house owner or someone whom you trust and who can refer you</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-2 d-flex align-items-stretch">
                        <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='images/g3.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">3</h5>
                            <p class="card-text">Have your rental history of two years and give the contact of your previous house owners or landlords</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-2 d-flex align-items-stretch">
                        <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='images/g4.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">4</h5>
                            <p class="card-text">Proof of income, your employment letter or your payslips of the past six months</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-2 d-flex align-items-stretch">
                        
                    </div>
                </div>
                <div class="row" style="padding-top:100px;">
                    <div class="col-sm-3 d-flex align-items-stretch">
                        
                    </div>
                    <div class="col-sm-2 d-flex align-items-stretch">
                        <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='images/g5.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">5</h5>
                            <p class="card-text">Employment details and history</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-2 d-flex align-items-stretch">
                        <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='images/g6.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">6</h5>
                            <p class="card-text">Copy of your bank statements</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-2 d-flex align-items-stretch">
                        <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='images/g7.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">7</h5>
                            <p class="card-text">Recommendation letter from charities</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-3 d-flex align-items-stretch">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}